
<div class="swiper" id="swiper">

  <div class="swiper-wrapper" id="swiper-wrapper">

    <div class="swiper-slide" id="slide">
    <li class="cards__card">
        <img class="cards__img" src="./img/menu-img/salads.jpg" alt="salads.jpg">
        <button id="menu" class="cards__btn btn--main">открыть меню</button>
        <div class="cards__title"><span>Салаты</span></div>
    </li>
</div><div class="swiper-slide" id="slide">
    <li class="cards__card">
        <img class="cards__img" src="./img/menu-img/baking.jpg" alt="baking.jpg">
        <button id="menu" class="cards__btn btn--main">открыть меню</button>
        <div class="cards__title"><span>Выпечка</span></div>
    </li>
</div><div class="swiper-slide" id="slide">
    <li class="cards__card">
        <img class="cards__img" src="./img/menu-img/soup.jpg" alt="soup.jpg">
        <button id="menu" class="cards__btn btn--main">открыть меню</button>
        <div class="cards__title"><span>Супы</span></div>
    </li>
</div><div class="swiper-slide" id="slide">
    <li class="cards__card">
        <img class="cards__img" src="./img/menu-img/mangal.jpg" alt="mangal.jpg">
        <button id="menu" class="cards__btn btn--main">открыть меню</button>
        <div class="cards__title"><span>Блюда на мангале</span></div>
    </li>
</div><div class="swiper-slide" id="slide">
    <li class="cards__card">
        <img class="cards__img" src="./img/menu-img/hot dishes.jpg" alt="hot dishes.jpg">
        <button id="menu" class="cards__btn btn--main">открыть меню</button>
        <div class="cards__title"><span>Горячие блюда</span></div>
    </li>
</div><div class="swiper-slide" id="slide">
    <li class="cards__card">
        <img class="cards__img" src="./img/menu-img/sauces.jpg" alt="sauces.jpg">
        <button id="menu" class="cards__btn btn--main">открыть меню</button>
        <div class="cards__title"><span>Соусы</span></div>
    </li>
</div><div class="swiper-slide" id="slide">
    <li class="cards__card">
        <img class="cards__img" src="./img/menu-img/sauces.jpg" alt="sauces.jpg">
        <button id="menu" class="cards__btn btn--main">открыть меню</button>
        <div class="cards__title"><span>Соусы</span></div>
    </li>
</div><div class="swiper-slide" id="slide">
    <li class="cards__card">
        <img class="cards__img" src="./img/menu-img/baking.jpg" alt="baking.jpg">
        <button id="menu" class="cards__btn btn--main">открыть меню</button>
        <div class="cards__title"><span>Выпечка</span></div>
    </li>
</div>

  </div>

    <div class="swiper-button-prev" id="swiper-button"></div>
    <div class="swiper-button-next" id="swiper-button"></div>
</div>
